* {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1920px;
    max-height: 1080px;
}

.header {
    padding: 100px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.logo {
    width: 300px;
    height: 220px;
    float: left;
    display: flex;
}

.nav-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: black;
}

.nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
}

.nav-link-grow-up:hover::before {
    height: 5px;
}

.content {
    padding: 100px;
    text-align: center;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

h3 {
    color: black;
}

.card {
    padding: 40px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-content: left;
    text-align: left;
    width: 1600px;
}

.section1 {
    width: 600px;
}

.container-1 {
    padding: 40px;
    width: 900px;
    border: 0;
}

.section2 {
    width: 600px;
}

.container-2 {
    padding: 40px;
    width: 900px;
    border: 0;
}

.btn-menu {
    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    color: black;
    background-color: rgb(236, 236, 236);
    font-size: 20px;
}

.btn-menu:hover {
    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    color: white;
    background-color: black;
    transition: 0.5s;
    cursor: pointer;
    font-size: 20px;
}

.btn-menu:active {
    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    color: white;
    background-color: black;
    transition: 0.5s;
    cursor: pointer;
    font-size: 20px;
}