* {
    background-color: #BD9592;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1920px;
    max-height: 1080px;
}

.header {
    padding: 100px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.logo {
    width: 300px;
    height: 220px;
    float: left;
    display: flex;
}

.navbar {
    background-color: transparent;
}

.nav-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #ffffff;
}

.nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
}

.nav-link-grow-up:hover::before {
    height: 5px;
}

.content {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

.cta {
    border: 0;
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-color: rgba(255, 255, 255, 0.192);
    font-size: 20px;
}

.cta:hover {
    color: #BD9592;
    background-color: white;
    transition: 0.2s;
    cursor: pointer;
}

.cta:active {
    background-color: rgb(240, 240, 240);
}